Button:hover {
    -fx-border-color: #9cffe2;
}

ListView {
    -fx-border-color: #1c1c1c;
}

ListView .scroll-bar {
    -fx-background-color: black;
}

ListView .scroll-bar .thumb {
    -fx-background-color: #1c1c1c;
}

ListView .cell {
    -fx-background-color: black;
    -fx-font-weight: bold;
}

GridPane {
    -fx-border-color: #1c1c1c;
}

MenuBar {
    -fx-background-color: black;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 2 0 2 0;
}

.menu {
    -fx-background-color: black;
    -fx-border-color: black;
}

.menu .label:hover {
    -fx-text-fill: #9cffe2;
}

.menu .label {
    -fx-text-fill: white;
}

.menu-item {
    -fx-background-color: black;
    -fx-border-color: black;
}

.menu .menu-item:hover .label{
    -fx-text-fill: #9cffe2;
}

.context-menu {
    -fx-background-color: black;
    -fx-border-color: #1c1c1c;
    -fx-border-width: 2 0 2 0;
}

#bSettings:hover {
    -fx-text-fill: #9cffe2;
}

.text-field {
    -fx-background-color: black;
    -fx-border-color: #1c1c1c;
    -fx-text-fill: white;
}

.check-box .box{
    -fx-background-color: black;
    -fx-border-color: #1c1c1c;
}

.check-box:selected > .box > .mark,
.check-box:indeterminate  > .box > .mark {
    -fx-background-color: white;
}